html,body{
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
body{
    overflow-y: auto;
    background-repeat: no-repeat;
    background-image: url("../image/BackGround.jpg");
    background-size: cover;
    position: relative;
    width: 100vw;
    height: 100vh;
}
calcMainPanel{
    display: block;
    width: 276px;
    background-color: rgba(241, 133, 185, 0.4);
    background-color: rgb(163, 163, 163, 0.4);
    margin: 0 auto;
    border: 3px solid gray;
    border-radius: 16px;
        
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
panel{
    display: block;
    background-color: rgba(253, 253, 253, 0.6);
    width: 100%;
    border-bottom: 3px solid gray;
    border-radius: 16px;
    padding: 16px;
    box-sizing: border-box;
}

action{
    color: gray;
    display: block;
    width: 100%;
    font-weight: 600;
    font-family: sans-serif;
    font-size: larger;
}
hr{
    border-width: 1px;
    border-color: grey;
    border-style: ridge;
}
result{
    color: gray;
    display: block;
    width: 100%;
    font-weight: 100;
    font-family: sans-serif;
    font-size: xxx-large;
}
keyboard{
    display: block;
    width: 100%;
    padding: 4px 4px 8px 4px;
    box-sizing: border-box;
}
table{
    width: 100%;
    font-weight: 600;
    font-family: sans-serif;
    font-size: larger;
}
td{
    border: 3px solid gray;
    color: gray;
    border-radius: 16px;
    width: 34px;
    height: 40px;
    text-align: center;
}
.BK{
    background-color: rgb(255, 255, 0, 0.6);
    background-color: rgb(255, 165, 0, 0.6) !important;
    color: white;
}
.equalBtn{
    background-color: rgba(0, 255, 21, 0.6) !important;
    color: white;;
}